body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: rgb(84, 127, 245);
            text-align: center;
        }

        h1 {
            color: white;
            margin-top: 50px;
        }

        section {
            background-color: white;
            width: 350px;
            height: 350px;
            margin: 50px auto;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.349);
        }

        #gen{
            text-align: left;
            padding-left: 12px;
        }

        #button{
            margin-top: 20px;
        }

        #res{
            margin-top: 40px;
        }

        #foto{
            background-image: src("foto-crianca-h.jpg");
            background-size: cover;
            background-position: center;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin: 20px auto;
        }

        footer{
            color: white;
            font-size: 1.2em;
        }